
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}

.cart {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem;
}

.product {
    border: 1px solid #ccc;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    max-width: 300px;
    text-align: center;
}

.product-image img {
    max-width: 100%;
    height: auto;
}

.product-details h2 {
    margin-top: 1rem;
}

.product-actions {
    margin-top: 1rem;
}

.add-to-cart {
    display: block;
    background-color: #333;
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border: none;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.add-to-cart:hover {
    background-color: #444;
}

.checkout-box {
    text-align: center;
    margin-top: 2rem;
}

.checkout-link {
    display: inline-block;
    background-color: #333;
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border: none;
    transition: background-color 0.3s ease;
}

.checkout-link:hover {
    background-color: #444;
}

.footer {
    margin-top: auto;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}


.checkout-box {
    text-align: center;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.checkout-link {
    display: inline-block;
    background-color: #333;
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border: none;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.checkout-link:hover {
    background-color: #444;
}
